<h2>Контакты</h2>
<p>На этой странице вы можете оставить личное сообщение</p>


<form action="/contacts" method="POST">

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    
  </div>

  <textarea name="emailmessage" class="form-control" rows="3"></textarea> 

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>